.spotlight .image {
  height: 350px;
  width: 350px;
  overflow: hidden;
  border-radius: 50%;
}
.spotlight .image img {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 100%;
}
.spotlight {
  width: 75%;
  margin: 0 auto;
}
#one .spotlight {
  -ms-align-items: center;
  align-items: center;
}
.spotlight .content {
  width: 50%;
  height: fit-content;
}
#banner {
  min-height: 35em !important;
  height: 100vh !important;
}
#banner {
  background-color: transparent;
}

#banner > article {
  height: 100vh;
  background-position: center !important;
}
#banner > article .inner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.wrapper.content-pad .content {
  padding: 2em 3em 1em 1em;
  text-align: center;
}
.wrapper.content-pad .content img {
  width: 60px;
  height: 60px;
}
#two > h3:after {
  left: 50%;
  transform: translateX(-50%);
}
.post .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120%;
}
.post .image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.posts {
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.posts .post {
  width: 48%;
}
#banner > article h1 {
  font-weight: 800;
  font-size: 2.75em;
  padding-bottom: 0;
  margin: 0 0 0.5em 0;
}

#banner h1:after {
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 3px;
  bottom: -20px;
}

#two h3:after {
  left: 50%;
  transform: translateX(-50%);
}
#one .content p {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
#two h3 {
  white-space: nowrap;
}
.content p {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.content img {
  width: 60%;
  height: auto;
}

#header.alt p {
  height: inherit;
  line-height: inherit;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  color: #fff;
  text-decoration: none;
  left: 2.5em;
}
#header.alt a {
  text-decoration: none;
}
#contact section {
  width: 100%;
}
ul.bulleted-icons {
  width: 100%;
}
ul.bulleted-icons li {
  width: 50%;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Alegreya Sans', sans-serif !important;
  /* font-family: 'Ubuntu Condensed', sans-serif !important; */
  /* font-family: 'Ubuntu Mono', monospace !important; */
}
body, input, select, textarea {
  font-family: 'Alegreya Sans', sans-serif !important;
  /* font-family: 'Ubuntu Condensed', sans-serif !important; */
  /* font-family: 'Ubuntu Mono', monospace !important; */
}


@media screen and (max-width: 1280px) {
  #banner > article h1 {
    font-size: 2.25em;2
  }
  ul.bulleted-icons li {
    width: 50%;
  }
}
@media screen and (max-width: 980px) {
  .spotlight .content {
    width: 70%;
  }
  .spotlight .image {
    width: 200px;
    height: 200px;
  }
  .spotlight {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  .features {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .features > section:before {
    display: none;
  }
  .wrapper.content-pad .content {
    padding: 1em 1em 0em 1em;
  }
  .features > section {
    width: 33%;
  }
}
@media screen and (max-width: 740px) {
  .spotlight .image {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }
  .spotlight .content {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 100%;
  }
  .spotlight {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #two {
    display: none;
  }
  #two h3 {
    white-space: normal;
  }
  .posts .post {
    width: 100%;
  }
  ul.bulleted-icons li {
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  #header nav > ul > li:last-of-type {
    display: none;
  }
}
