/*
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Banner */

	/* #banner > article {
		display: none;
	}

		#banner > article:first-child {
			background-image: url("../../images/slide01.jpg");
			display: block !important;
			opacity: 1 !important;
			visibility: visible !important;
		} */
